@model API.Sparta.Models.TbDoiTac

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbDoiTac</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoitacTen" class="control-label"></label>
                <input asp-for="DoitacTen" class="form-control" />
                <span asp-validation-for="DoitacTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoitacMota" class="control-label"></label>
                <input asp-for="DoitacMota" class="form-control" />
                <span asp-validation-for="DoitacMota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoitacHinhanh" class="control-label"></label>
                <input asp-for="DoitacHinhanh" class="form-control" />
                <span asp-validation-for="DoitacHinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
