@model API.Sparta.Models.TbGioiThieu

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-reply"></i></a><strong>Quản lý Slide</strong>
                    </div>
                    <div class="card-body card-block">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="GioithieuId" />
                            <div class="form-group">
                                <label asp-for="GioithieuTieude" class="control-label">Tiêu đề</label>
                                <br />
                                @Html.DisplayFor(model => model.GioithieuTieude)
                            </div>
                            <div class="form-group">
                                <label asp-for="GioithieuHinhanh" class=" form-control-label">Hình ảnh</label>
                                <br />
                                <img asp-for="SlideImage" src="@Html.DisplayFor(Model => Model.GioithieuHinhanh)" />
                            </div>
                            <div class="form-group">
                                <label asp-for="GioithieuLink" class="control-label">Link</label><br />
                                @Html.DisplayFor(model => model.GioithieuLink)
                            </div>
                            <div class="card-footer text-right">
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="GioithieuId" />
                                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


